#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=many-launcher.zsh
Name=Wofi
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
