/_config
/_share
/config/launchershare
/config/xdgconfig/*
!/config/xdgconfig/dolphinrc
!/config/xdgconfig/katerc
!/config/xdgconfig/kwinrc
!/config/xdgconfig/wofi
!/config/xdgconfig/kglobalshortcutsrc
